@keyframes neon-flicker {
    0% {opacity: 1;}
    20% {opacity: 0.8;}
    22% {opacity: 0.4;}
    25% {opacity: 1;}
    70% {opacity: 0.9;}
    72% {opacity: 0.5;}
    75% {opacity: 1;}
}

.flicker {
    animation: neon-flicker 1.5s infinite;
}