@keyframes neon-flicker {
    0% {filter: brightness(1);}
    20% {filter: brightness(0.8);}
    22% {filter: brightness(0.5);}
    25% {filter: brightness(1);}
    70% {filter: brightness(0.9);}
    72% {filter: brightness(0.6);}
    75% {filter: brightness(1);}
}

.flicker {
    animation: neon-flicker 1.5s infinite;
}