/* style/index.css */

/* 1. Theme (변수) */
@import './theme.css';

/* 2. Animations */
@import './animations.css';

/* 3. Intro */
@import '../components/Intro/intro.css';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #root {
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }
  