#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
#intro {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 100px;
    font-weight: 700;
    color: var(--color-primary);
    text-shadow: var(--glow-primary);
    text-align: center;
    white-space: pre-line;
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;
    will-change: transform, opacity;
  }  
.intro--off {
    opacity: 0;
    transform: scale(1.2);
    pointer-events: none;
}